# fisiere python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/

# directoare specifice proiectului
recordings/
reports/
snapshots/
*.mp4
*.jpg
*.png
/screenshots/

# fisiere temporare
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~

# model yolov8 ce va fi generat automat la rularea aplicatiei
yolov8s.pt

# log file
sistem_anti_plagiat.log

# LaTeX build artifacts
*.aux
*.log
*.fls
*.fdb_latexmk
*.toc
*.out
*.synctex.gz
*.pdf